[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = 1602 driver for RPi B+
[access "refs/*"]
	owner = group user/yy (controlyy)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/yy (controlyy)
	label-Verified = -1..+1 group user/yy (controlyy)
	push = group user/yy (controlyy)
	read = group user/yy (controlyy)
	rebase = group user/yy (controlyy)
	removeReviewer = group user/yy (controlyy)
	submit = group user/yy (controlyy)
[access "refs/heads/*"]
	create = group user/yy (controlyy)
	push = +force group user/yy (controlyy)
	pushMerge = group user/yy (controlyy)
	read = group user/yy (controlyy)
[access "refs/tags/*"]
	push = group user/yy (controlyy)
	push = +force group user/yy (controlyy)
